body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 247, 212);
}

.header {
    background-color: rgb(76, 61, 61);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 410px;
    padding-top: 5px;
    padding: 10px;
}

.header-logo-text {
    font-size: 24px;
    color: #f9faf8;
    margin: 0px;
}

.banana-logo-header{
    width: 100px;
    height: auto;
}
.banana-mascot{
    width: 200px;
    height: auto;
    margin-bottom: 50px;
}
a {

    color: yellow;
    text-decoration-line: none;
}

ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 15px;
}

li {
    font-size: 18px;
    list-style-type: none;
}



.hero-container {
    display: flex;
    background-color: rgb(255, 217, 90);
    justify-content: center;
    align-items: center;
    gap: 95px;
    padding: 50px;

}

.hero-one {
    flex-basis: 500px;
    font-size: 20px;
    color: rgb(76, 61, 61);
    font-weight: bold;
}

.hero-one h1 {
    font-size: 48px;
    font-weight: 900;
    color: rgb(76, 61, 61);
    margin: 3px;
}

button {
    background-color: rgb(76, 61, 61);
    border-radius: 5px;
    width: fit-content;
    height: 30px;
    color: #E5E7EB;
    font-weight: bold;
    margin-top: 20px;
    border: 2px solid white;

}

.random-info h2 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 42px;
    color: rgb(76, 61, 61);
    font-size: 30px;
}

.box {
    border: 3px solid yellow;
    width: 150px;
    height: 150px;
    border-radius: 30px;
}
.box img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.random-info-flex {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.item {
    width: 150px;
    height: 300px;
    text-align: center;

}

.quote-container {
    background-color: #E5E7EB;
    font-size: 36px;
    padding: 20px 350px;
    text-align: justify;
    font-weight: bold;
    color: #3F1D38;
    display: flex;
    flex-direction: column;
    background-color: #FFFD8C;
}

.author {
    align-self: flex-end;
}

.sign-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.sign-up-sub-container {
    background-color: rgb(255, 217, 90);;
    padding: 25px;
    color: #3F1D38;
    width: 67%;
    display: flex;
    justify-content: center;
    gap: 210px;
}

.sign-up-sub-container h3 {
    font-weight: bold;
    font-size: 21px;
}

.sign-up-sub-container button {
    align-self: center;
    width: 100px;
    height: 30px;
    border: 2px solid white;
    color: white;
}

.footer {
    text-align: center;
    background-color: rgb(76, 61, 61);;
    padding: 40px;
    color: yellow;
}